.card {
    position: relative;
}

.popular {
    color: #000;
    font-weight: bold;
    background-color: #F6C768;
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    font-size: 14px;
    padding: 5px 10px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.container-img {
    background-color: blue;
    overflow: hidden;
    border-radius: 15px;
}

.image {
    object-fit: fit;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FEF7EE;
    margin-top: 10px;
    font-weight: bold;
}

.price {
    font-size: 12px;
    background-color: #BEE3CC;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.votes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.grey {
    color: #6F757C;
}

.sold-out {
    color: #ED735D;
}


