h1 {
    font-size: 32px;
    font-weight: bold;
}

h1 ~ p {
    margin: 20px auto;
    font-size: 16px;
    color: #6F757C;
    font-weight: bold;
    width: 105%;
}

li {
    list-style: none;
}

.container-app {
    margin: 130px 0px 150px;
    display: grid;
    place-items: center;
}

main {
    border-radius: 20px;
    padding: 60px;
    height: 100%;
    width: 65%;
    background-color: #1B1D1F;
    text-align: center;
    color: #FEF7EE;
}

.coffes {
    display: grid;
    place-content: center;
    gap: 35px;
    grid-template-columns: repeat(1,1fr);
}

nav {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

nav button {
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    color: #FEF7EE;
    background-color: transparent;
    cursor: pointer;
}

button:first-child {
    margin-right: 10px;
}

.active {
    background-color: #6F757C;
    border-radius: 5px;
}
@media (min-width: 1024px) {
    main {
        width: 70%;
  }

  .coffes {
      grid-template-columns: repeat(2,1fr);
  }

  h1 ~ p {
        width: 80%;
    }

    .container-app {
        margin: 130px 0px 150px;
    }



}

@media (min-width: 1280px) {
    main {
        width: 85%;
    }

    .coffes {
        grid-template-columns: repeat(3,1fr);
    }

    h1 ~ p {
        width: 50%;
    }

    .container-app {
        margin: 160px 0px 150px;
    }


}

