* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #111315;
    height: 100%;
    background-image: url('images/bg-cafe.jpg');
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: center top;
}

@media (min-width: 1024px) {
    body {
        background-size: 100% auto;
    }
}