* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #111315;
    height: 100%;
    background-image: url('images/bg-cafe.jpg');
    background-repeat: no-repeat;
}